email: "example@gmail.com"
public_keys: [ "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDRfZ2r+U/qramOoPQQDRfZ2r+U/BPx4gt3HTIrZHvMz7FS3AFCQDRfZ2r+U/zmrbEVdoaxKOXDvw88wQDRfZ2r+U/48o7DGuRQDRfZ2r+U/GSYPQDRfZ2r+U/s7UL71jWm4eMFllDFRV+Ev3hNREDmh+5KcM6EfQ31yor+Bakc/sz5ZiYW4sZl3n717JOFtGi5UFvMlpT9691Ao8DoX+9eBuad/AO9k+cF+93ynXJ+Fn17baYvDcwAe32U/GHT+cNmbGmJDVMCkN6gme3ilAKbt1gp7YFs9uw+OijFuYObZRi7k0JyAoUx8c3h/Xck5H6A3cLS8AedUCJLiSRmtNRr example@gmail.com" ]
key_name: "test-key"
aws:
  id: "12345"
  key: "abcdef"
  region: "us-west-1"

url: "http://huxley.mydomain.com:3030/"

channel: "stable"
instance_type: "m1.medium"
cluster_size: 3
spot_price: 0.009
tags: [
  {
    Key: "Name"
    Value: "foobar"
  }
  {
    Key: "customer"
    Value: "myself"
  }
  {
    Key: "environment"
    Value: "dev"
  }
  {
    Key: "project"
    Value: "huxley"
  }
  {
    Key: "role"
    Value: "coreos"
  }
]
formation_service_templates:
  format_ephemeral: "default"
  var_lib_docker: "default"

service_templates:
  elasticsearch:
    output_filename: "elasticsearch.service"
    after: ["docker.service"]
    container_name: "elasticsearch"
    image_name: "mydomain/pc_elasticsearch"
    hostname: "elasticsearch.donuts.cluster"
    port: "2001"
    type: "A"

  kibana:
    output_filename: "kibana.service"
    after: ["docker.service", "elasticsearch.service"]
    container_name: "kibana"
    image_name: "mydomain/pc_kibana"
    hostname: "kibana.donuts.mydomain.com"
    port: "80"
    elasticsearch_url: "elasticsearch.donuts.cluster:2001"
