prompt_list = [
 name: "project_name"
 description: "Application name?"
 default: process.cwd().split("/").pop()
,
 name: "cluster_name"
 description: "Cluster name?"
 default: "test-cluster"
]
res = yield prompt_wrapper prompt_list
{project_name} = res
