#===============================================================================
# PandaCluster - Sub-Command Argument Definitions
#===============================================================================
# This CSON object specifies arugments for each sub-command of the Command-Line Interface.
# Each object returns an array of objects define values needed by the parsing function.

# for now, create_user's data should be pulled from config
create_user: []

wait_on_cluster: [
  {
    name: "cluster_url"
    flag: "--cluster-id"
    required: true
  }
  {
    name: "secret_token"
    flag: "--token"
    required: true
  }
]

create_cluster:[
  {
    name: "secret_token"
    flag: "--token"
    required: true
  }
  {
    name: "cluster_name"
    flag: "--name"
    required: true
  }
  {
    name: "public_domain"
    flag: "--domain"
    required: true
  }
]

delete_cluster:[
  {
    name: "cluster_url"
    flag: "--cluster-id"
    required: true
  }
  {
    name: "secret_token"
    flag: "--token"
    required: true
  }
]
