#===============================================================================
# Vanilla - Service File
#===============================================================================

[Unit]
Description=Spin Up Vanilla
After=docker.service

[Service]
TimeoutStartSec=0

ExecStartPre=/usr/bin/echo "========================"
ExecStartPre=/usr/bin/echo "  New Service Starting"
ExecStartPre=/usr/bin/echo "========================"

# Display this service's IP addresses.
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/echo "Public IP Address: ${COREOS_PUBLIC_IPV4}"
ExecStartPre=/usr/bin/echo "Private IP Address: ${COREOS_PRIVATE_IPV4}"

# Register this service with Sidekick Server.
ExecStartPre=/usr/bin/curl -XPOST hook.huxley.cluster:2000 -d '\
  "hostname": "huxley.pandastrike.com",      \
  "ip_address": "${COREOS_PUBLIC_IPV4}",  \
  "port": "3030",  \
  "type": "A"'

# Pull The Service's Docker Container.
ExecStartPre=/usr/bin/bash -c "if [ -d /home/core/launch/huxley ]; then /usr/bin/rm -rf /home/core/launch/huxley; fi"
ExecStartPre=/usr/bin/echo "Directory Checked"
ExecStartPre=/usr/bin/bash -c "/usr/bin/git clone git://hook.huxley.cluster:2001/repos/huxley.git /home/core/launch/huxley"
ExecStartPre=/usr/bin/docker build --tag="huxley_image" /home/core/launch/huxley/launch/huxley/.

ExecStart=/usr/bin/docker run --name huxley -p 3030:8080 huxley_image

[Install]
WantedBy=multi-user.target
